
/*.cerrarMenu{
   height: 10px;
   width: 100%;
    .headerMenu{
        
        display: flex;
        flex-direction: wrap;
    }
}*/
body {
	height: 100vh;
	width: 100%;
	font-family: sans-serif;
}
/* .headerMenu{
display: flex;
justify-content: space-between;
border-bottom: 1px solid black;
} */
a{
    /* margin-top: 20px; */
    box-shadow: 0 10px 20px -10px rgb(0, 0, 0, 0.7);
    border-radius: 15px;
    text-decoration: none;
}
h3.titulo{
    width: 70%;
    /*margin: 0px auto;*/
}




.menuResto {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    padding-bottom: 70px;
   a{
    text-decoration: none;
   }
    .plato {
        height: 120px auto;
        width: 100%;
        /* background-color: red; */
        display: flex;
        margin-bottom: 10px;
        gap: 20px;
        color:black;
        .img_plato {
            height: 110%;
            width: 100px;
            position: relative;
            margin-left: 25px;
            margin-right: 5px;
            img {
                overflow: hidden;
                border-radius: 50%;
                width: 100%;
                object-fit: cover;
            }

            .precio_plato {
                position: absolute;
                background-color: rgb(19,209,146);
                color: white;
                font-weight: bold;
                padding: 5px 10px;
                border-radius: 15px 0px;
                right: -15px;
                bottom: 25px;
                box-shadow: 0px 5px 10px green;
                
            }
        }

        .datos_platos {
            
           padding-left: 25px;
            padding-bottom: 3px;  
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            color: gray;
          
            

        }
    }
}

nav.menu_inferior {
    width: 100%;
    height: 60px;
    /*ESTABLECE LA ALTURA*/
    position: fixed;
    /*HACE COSAS*/
    bottom: 0;
    /*LO FIJA DEBAJO*/
    display: flex;

    button {
        flex: 0 0 33.33%;
        /*IMPONE EL ANCHO DE CADA ELEMENTO EN EL CONTENEDOR FLEX*/
        border: 0;
        /*LE SACA LOS BORDES*/
        background-color: white;
        /*LO HACE TRANSPARENTE*/
        cursor: pointer;
        /*PONE LA MANITO AL PASAR POR EL BOTON*/
        transition: all 0.1 ease-in-out;
        a {
            color: gray;
            text-decoration:none;
        }
       
    }

    button:hover {
        color: black;
        border-top: solid 3px green;
        /*LE AGREGA EL BORDE ROJO ARRIBA AL PASAR CON EL MOUSE*/
        font-weight: 700;
    }
}